#!/bin/bash

USER={{geth_user}}
GROUP={{geth_group}}
DIR={{geth_dir}}
DATADIR={{geth_datadir}}
EXEC="{{geth_exec_base}}"
PW_FILE={{geth_datadir}}/password
PW_LENGTH=64

systemctl start geth
systemctl stop geth

if [ -f $PW_FILE ]; then
  echo 'Password file exists. Skipping password generation.'
else
  touch $PW_FILE
  chmod 400 $PW_FILE
  chown $USER:$GROUP $PW_FILE
  pwgen -s $PW_LENGTH 1 > $PW_FILE
fi
EXEC="$EXEC --password $PW_FILE"

if [ -f $DATADIR/keystore/UTC* ]; then
  echo 'Keystore file exists. Skipping account generation.'
else
  $EXEC account new
  chown $USER:$GROUP $DATADIR/keystore/UTC*
  chmod 400 $DATADIR/keystore/UTC*
  GETH_ACCOUNT=$(ls -1 $DATADIR/keystore/UTC* | awk -F'-' '{print $NF}')
  if [ "x${GETH_ACCOUNT}x" == "xx" ]; then
    echo "ERROR: Failed to generate geth account"
    exit 1
  else
    echo "export GETH_ACCOUNT=$GETH_ACCOUNT" >> ~/.bashrc
    export GETH_ACCOUNT
    EXEC="$EXEC --unlock $GETH_ACCOUNT"
    sed -i '/ExecStart=.*/c\'"ExecStart=$EXEC" /etc/systemd/system/geth.service
    systemctl daemon-reload
    systemctl restart geth
  fi
fi
